* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(17, 17, 17, 0.1);
    position: relative;
}

.profile-card::before {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 35%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #2b52db;
}

.image {
position: relative;
height: 140px;
width: 140px;
border-radius: 50%;
background-color: #ece9e9;
padding: 2px;
border: solid 2px #2b52db;
margin-bottom: 10px;
}

.image::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #4caf50;
    border: 3px solid #fff;
}

.image .profile-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 10px solid #130404;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;

}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
    color: #464646;
}

.text-data .job{
    font-size: 16px;
    color: #857b7b;
    margin-top: 2px;
}

.profile-card .media-button {
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

.media-button .link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f4f5f7;
    font-size: 13px;
    margin: 0 3px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: all 0.3s ease;
}
.media-button .link:hover {
    transform: translateY(-3px);
}

.profile-card .buttons {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.buttons .button {
    padding: 5px 10px;
    width: 80px;
    border: none;
    font-weight: 500;
    border-radius: 20px;
    background-color: #4367e7;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .button:hover {
    background-color: #2b52db;
}

.profile-card .analytics {
    display: flex;
   align-items: center;
    font-size: 14px;
    margin-top: 25px;
}



.analytics .data {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 10px;
    color: #555;
    padding: 0 10px;
    border-right: #ece9e9 solid 2px;
}

.analytics .value {
    font-weight: 400;
    margin-right: 6px;
    color: #333;
}

.analytics .data:last-child {
    border-right: none;
}